.product-wrapper {
  padding: 0 25px;
}

.product-card {
  border-bottom: 1px solid rgb(238, 238, 238);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.product {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.name {
  display: block;
  color: rgb(0, 102, 192);
  cursor: pointer;
}

.image-wrapper {
  width: 125px;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image {
  max-width: 100px;
  max-height: 100px;
}

.price {
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.price-whole-num {
  font-size: 1.5rem;
}

.add-to-cart {
  background-color: rgb(240, 173, 75);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 0.75rem;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
}

.add-to-cart:focus {
  border-color: #e77600;
  outline: none;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}
